#dga-home-section {
  
  margin: 25px;

}

.dga-title-home {
  color: var(--dga-color-font-secondary);
  padding-left: 5px;
 
}

.dga-escola {
  color: var(--dga-color-font-tertiary);
  padding-left: 5px;

